In [1]:
# Entrada desde teclas
# input permita ingresar un valor y guardarlo en una variable 
valor = input()

 Hola

In [2]:
valor

'Hola'

In [3]:
valor = input()

 100

In [4]:
valor

'100'

In [7]:
# lo que se ingresa se guarda como una cadena de caracteres
valor = input("Introduce tu nombre")

Introduce tu nombre Gerardo

In [8]:
valor

'Gerardo'

In [9]:
valor = input("Introduce tu edad")

Introduce tu edad 49

In [10]:
valor + 10

TypeError: can only concatenate str (not "int") to str

In [11]:
valor = input("introduce tu edad")

introduce tu edad 49

In [12]:
valor = int(valor)

In [13]:
valor

49

In [14]:
valor -10

39

In [15]:
valor = input("introduce tu edad")

introduce tu edad 40.4

In [16]:
valor = int(valor)

ValueError: invalid literal for int() with base 10: '40.4'

In [17]:
valor = float(valor)

In [18]:
valor - 10

30.4

In [19]:
valor = float(input("Introduce tu estatura"))

Introduce tu estatura 1.85

In [20]:
valor

1.85